!!!

-# <link rel="stylesheet" href="CSS/footer.css"/>
-# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
-# <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300" rel="stylesheet">
-# <link rel="icon" href="Images/LogoFull.png" type="image/x-icon" />
-# <link rel="shortcut icon" href="Images/LogoFull.png" type="image/x-icon" />
-# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
-# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-# <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>



%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags

  %body
- if signed_in?
  Signed in as: #{current_user.email}
  \#{button_to 'Sign out', sign_out_path, method: :delete}
-# - else
-#   = link_to 'Sign in', sign_in_path
#flash
  - flash.each do |key, value|
    %div{:class => "flash #{key}"}= value

  = render 'shared/header'

  - flash.each do |key, value|
    = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?
    
  = yield

  = render 'shared/footer'
